HELP.md

### Build Outputs ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### Java Compiled Files ###
*.class
*.jar
*.war
*.ear

### IDE & Editor Configurations ###
# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Misc ###
# Logs
logs/
*.log

# Temporary & OS Files
*.tmp
*.swp
*.swo
*.bak
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini
