<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RZone HomePage</title>
    <link rel="stylesheet" href="/css/main/home-page.css">

</head>
<body>
<img src="/images/logo.png" alt="Logo" class="logo">

<div class="buttons">
    <button th:onclick="|window.location.href='/main/blog/latest'|">See the latest Blog!</button>
    <button th:onclick="|window.location.href='/main/blog/all'|">See all past Blogs!</button>
    <button th:onclick="|window.location.href='/main/tournaments'|">See the ongoing tournaments!</button>
</div>

</body>
</html>
